# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@0

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: DotNetCoreInstaller@0
  displayName: 'Install .Net Core 2.1 framework'
  inputs:
    version: 2.1.505

- task: DotNetCoreCLI@2
  displayName: 'Build with .Net Core 2.1 framework'
  inputs:
    command: build
    projects: '**/*.csproj'
    arguments: '--framework:netcoreapp2.1 --configuration Release'
